@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------ FUENTES ------------ */

/* Fuente Inter: */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Fuente Nohemi: */
@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* ------------ COLORES ------------ */

:root {
    /* Colores Corporativos: */
    --brand1: #FF9486;
    --brand2: #F4DEC3;

    /* Grises: */
    --blanco: #FFFFFF;
    --gris1: #EBE4E4;
    --gris2: #B0AAAA;
    --gris3: #605D5D;
    --gris4: #3D3D3D;
    --gris5: #282828;
    --negro: #1B1B1B;
  
    /* Colores Espectro: */
    --tea: #8BC8EA;
    --tdah: #83D9DB;
    --toc: #97E8DA;
    --tlp: #A1E5BD;
    --tag: #B9E5A1;
    --tp: #CBD07B;
    --tpa: #FFCA74;
    --tb: #FFA879;
    --tep: #F2979C;
    --td: #FFB8B3;
    --te: #FFB6C3;
    --ta: #F4A6D6;
    --adi: #DDA9EA;
    --fob: #CDB0F7;
    --otr: #A1AEFF;

    /* Degradados: */
    --degradado1: linear-gradient(45deg, #D84C60, #D78E55);
    --degradado2: linear-gradient(45deg, #653a70, #d84c60);
}

/* Modo Claro: */
:root {
  --background: var(--gris1);
  --foreground: var(--negro);
}

/* Modo Oscuro: */
.dark {
  --background: var(--gris5);
  --foreground: var(--gris1);
}

/* ------------ ESTILOS BASE ------------ */

/* Estilos base de Tailwind: */
@layer base {
  h1 {
    @apply font-nohemi font-extrabold text-[2.8rem] m-0 p-0;
    color: var(--foreground);
    letter-spacing: 0.01em;
  }

  h2 {
    @apply font-nohemi font-extrabold text-[1.8rem] m-0 p-0;
    color: var(--foreground);
    letter-spacing: 0.02em;
    line-height: 2.2rem;
  }

  h3 {
    @apply font-inter font-bold text-[1.4rem] m-0 p-0;
    color: var(--foreground);
  }

  h4 { /* Títulos de las Cards */
    @apply font-inter font-bold text-[1.1rem] m-0 p-0;
    color: var(--foreground);
  }

  p {
    @apply font-inter font-normal text-base;
    color: var(--foreground);
  }

  span {
    @apply font-inter font-normal italic text-[0.9rem];
    color: var(--foreground);
  }

  a {
    @apply font-inter font-bold text-base;
    color: var(--foreground);
    /* Si se quiere subrayado, añadir className="hover:underline" en el elemento específico. */
  }

  .a-boton-gr {
    @apply font-inter font-bold text-[1.1rem] no-underline;
    color: var(--foreground);
  }

  .a-boton-pq {
    @apply font-inter font-bold text-[0.8rem] no-underline;
    color: var(--foreground);
  }

  input::placeholder {
    color: var(--gris3);
  }

  .tag {
    @apply font-inter font-bold text-[0.8rem];
    color: var(--foreground);
  }

}

/* OTROS ESTILOS: */

/* Oculta todas las barras de scroll horizontales */
*::-webkit-scrollbar:horizontal {
  display: none; /* Oculta la barra de scroll horizontal en navegadores basados en WebKit */
}

* {
  scrollbar-width: none; /* Firefox: oculta la barra de scroll horizontal */
  -ms-overflow-style: none; /* IE y Edge: oculta todas las barras */
}


:root {
  /* El ancho se divide en 12 columnas (dinámico). */
  --columna: calc(100vw / 12); /* Valor equivalene a 1 columna */
}

body {
  background-color: var(--background);
  font-family: 'InterVariable', sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

main, .alto-main {
  min-height: calc(100vh - 80px);
}

.hover-opacity {
  opacity: 1;
  transition: opacity 0.3s;
}

.hover-opacity:hover {
  opacity: 0.7;
}

.hover-underline {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.hover-underline:hover, .hover-underline:active {
  border-bottom: 2px solid var(--brand1);
}

.fondo-degradado1 {
  background: var(--degradado1);
}

.fondo-degradado2 {
  background: var(--degradado2);
}

.sombra-interior-light {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.sombra-exterior-light {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sombra-interior-dark {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}

.sombra-exterior-dark {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}