/* ------------ FUENTES ------------ */

/* Fuente Inter: */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Fuente Nohemi: */
@font-face {
  font-family: 'Nohemi';
  src: url('/fonts/Nohemi-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* ------------ TAILWIND ----------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------ COLORES ------------ */

:root {

    /* Colores Corporativos: */
    --brand1: #FF9486;
    --brand2: #F4DEC3;
    --brand3: #653A70;
    --brand4: #D78E55;

    /* Grises: */
    --blanco: #FFFFFF;
    --gris1: #EBE4E4;
    --gris2: #B0AAAA;
    --gris3: #605D5D;
    --gris4: #3D3D3D;
    --gris5: #282828;
    --negro: #1B1B1B;
  
    /* Colores Espectro: */
    --tea: #8BC8EA;
    --tdah: #83D9DB;
    --toc: #97E8DA;
    --tlp: #A1E5BD;
    --tag: #B9E5A1;
    --tp: #CBD07B;
    --tpa: #FFCA74;
    --tb: #FFA879;
    --tep: #F2979C;
    --td: #FFB8B3;
    --te: #FFB6C3;
    --ta: #F4A6D6;
    --adi: #DDA9EA;
    --fob: #CDB0F7;
    --otr: #A1AEFF;

    /* Degradados: */
    --degradado1: linear-gradient(45deg, #D84C60, #D78E55);
    --degradado2: linear-gradient(45deg, #653a70, #d84c60);

    /* Básicos (modo claro): */
    --background: var(--gris1);
    --foreground: var(--negro);
}

/* MODO OSCURO: */

.dark {

  /* Básicos (modo oscuro): */
  --background: var(--gris5);
  --foreground: var(--gris2);

  /* Cards (modo oscuro): */
  --fondo-estadisticas: rgba(131, 217, 219, 0.1);
  --borde-estadisticas: rgba(131, 217, 219, 0.2);
  --fondo-pinguinadas: rgba(205, 176, 247, 0.1);
  --borde-pinguinadas: rgba(205, 176, 247, 0.2);
  --fondo-shares: rgba(255, 202, 116, 0.1);
  --borde-shares: rgba(255, 202, 116, 0.2);
}

/* ------------ ESTILOS BASE DE TAILWIND ------------ */

@layer base {

  h1 {
    @apply font-nohemi font-extrabold text-[2.8rem] m-0 p-0;
    color: var(--foreground);
    letter-spacing: 0.01em;
    line-height: 3rem;
  }

  h2 {
    @apply font-nohemi font-extrabold text-[1.8rem] m-0 p-0;
    color: var(--foreground);
    letter-spacing: 0.02em;
    line-height: normal;
  }

  h3 {
    @apply font-nohemi font-normal text-[1.4rem] m-0 p-0;
    color: var(--foreground);
    line-height: normal;
  }

  h4 { /* Títulos de las Cards */
    @apply font-inter font-black text-[1rem] m-0 p-0;
    color: var(--gris4);
    line-height: 1.3rem;
  }

  p {
    @apply font-inter font-normal text-base;
    color: var(--foreground);
    line-height: normal;
  }

  span {
    @apply font-inter font-normal italic text-[0.9rem];
    color: var(--foreground);
  }

  a, strong {
    @apply font-inter font-bold text-base;
    color: var(--foreground);
    /* Si se quiere subrayado, añadir className="hover:underline" en el elemento específico. */
  }

  .a-boton-gr {
    @apply font-inter font-bold text-[1.1rem] no-underline;
    color: var(--foreground);
  }

  .a-boton-pq {
    @apply font-inter font-bold text-[0.8rem] no-underline;
    color: var(--foreground);
  }

  .tag-gr {
    @apply font-inter font-bold text-[0.8rem];
    color: var(--foreground);
  }

  .tag-pq {
    @apply font-inter font-bold text-[0.7rem];
    color: var(--foreground);
  }

  .fondo-degradado1 {
    background: var(--degradado1);
  }

  .fondo-degradado2 {
    background: var(--degradado2);
  }

  form,  form * {
    @apply appearance-none;
  }

  .resaltar-texto {
    color: var(--gris3);
  }

  .resaltar-texto:hover {
    color: var(--blanco);
  }

  .placeholder-light::placeholder {
    @apply text-[var(--gris3)] opacity-60;
  }

  .placeholder-dark::placeholder {
    @apply text-[var(--gris2)] opacity-40;
  }

  label {
    @apply font-bold text-[var(--gris3)] opacity-60;
  }

}

/* ------------ OTROS ESTILOS CSS: ------------ */

body {
  background-color: var(--background);
  font-family: 'InterVariable', sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 80px);
}

/* Oculta todas las barras de scroll horizontales: */

*::-webkit-scrollbar:horizontal {
  display: none; /* Oculta la barra de scroll horizontal en navegadores basados en WebKit */
}

* {
  scrollbar-width: none; /* Firefox: oculta la barra de scroll horizontal */
  -ms-overflow-style: none; /* IE y Edge: oculta todas las barras */
}

/* Opacidad selectiva: */

.hover-opacity {
  opacity: 1;
  transition: opacity 0.3s;
}

.hover-opacity:hover {
  opacity: 0.7;
}

/* Hover Underline del Menú Principal: */

.hover-underline {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.hover-underline:hover, .hover-underline:active {
  border-bottom: 2px solid var(--brand1);
}

/* Efectos para Toggles: */

.sombra-interior-light {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.sombra-exterior-light {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sombra-interior-dark {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}

.sombra-exterior-dark {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

/* Estilo personalizado para Selects: */

select {
  appearance: none;
  -webkit-appearance: none; /* Compatibilidad con Safari */
  -moz-appearance: none; /* Compatibilidad con Firefox */
  position: relative;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--gris2);
  padding: 0.5rem 1rem;
  margin: 0;
  border: 2px solid var(--blanco);
  border-radius: 0.8rem;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"%3E%3Cpath fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" /%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 1.3rem;
  cursor: pointer;
}

select:hover {
  border: 2px solid var(--gris2);

}

select:active, select:focus {
  border: 2px solid var(--brand1);
}

/* Estilo personalizado para Inputs: */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important;
}

/* EStilo personalizado para la masonry del Feed: */

.masonry-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
